<div class="block-absence">
    <h3>Request Absence</h3>

    <span>What type of absence?</span>
    <mat-form-field>
        <mat-label></mat-label>
        <mat-select > <!--[(value)]="selectedValue"-->
            <mat-option value="Sick">Sick</mat-option>
            <mat-option value="Vacation ">Vacation</mat-option>
        </mat-select>
    </mat-form-field>

    <span >From - To</span>
    <input type="date" > <input type="date">
<!--[formControl]="dateBefore"--><!--[formControl]="dateAfter"-->
    <span>Comment</span>
    <textarea placeholder="Add a comment.."></textarea>

    <button mat-raised-button color="basic" type="submit"> Cancel</button>
    <button mat-raised-button color="accent" type="submit"> Request </button>
</div>